{% extends "voc2.j2" %}

{% block summary %}
<p>Dit vocabularium beschrijft de terminologie nodig om financiële rapporten te beschrijven en sommige datastromen waarin deze betrokken zijn. <p>
<p>Volgende informatie worden gecapteerd over het financieel rapport: de financiële feiten die het omvat, het financieel concept achter het feit (bvb. activa, omzet, kosten, doorgaans gebaseerd op een opgelegd schema), de context waarin het feit bekeken moet worden (bvb. de periode waarop het feit betrekking heeft), evt. de dimensies die van toepassing zijn (bvb. tijd, regio, product). </p>
<p>De terminologie is voor wat het financieel rapport betreft gebaseerd op een gekende norm in dit domein nl. <a href="https://www.xbrl.org/Specification/XBRL-2.1/REC-2003-12-31/XBRL-2.1-REC-2003-12-31%2Bcorrected-errata-2013-02-20.html">XBRL</a> en een deelnorm daarvan nl. <a href="https://www.xbrl.org/specification/dimensions/rec-2012-01-25/dimensions-rec-2006-09-18%2Bcorrected-errata-2012-01-25-clean.html">XBRL-Dimensies.</a> </p>
<p>Wat de datastromen betreft zijn er termen om de neerlegging van een financieel rapport te beschrijven alsook de verschillende validatiestappen die het doorloopt bvb. voor goedkeuring van een subsidie. Een financieel rapport kan ook gelinkt worden aan een dossier. </p>
{% endblock %}
