{% extends "voc2.j2" %}

{% block summary %}
<p>Dit Vocabularium is een bijkomende Taxonomie bij het <a href="https://data.vlaanderen.be/ns/financiele-rapportering/">Vocabularium Financiële Rapportering</a>.</p>
{% endblock %}

