{% extends "ap2.j2" %}

{% block summary %}
<p>Dit applicatieprofiel werd ontwikkeld om binnen het domein "financiële data" de verschillende datastromen met betrekking tot dit domein semantisch te modelleren en de structuur van de data te standaardiseren. Heel wat organisaties moeten bij verschillende (publieke) organisaties hun financiële rapporten (jaarlijks) indienen ter controle of ter ondersteuning van een dossier voor o.a. subsidies. O.a. volgende informatie worden gecapteerd in dit applicatieprofiel: informatie met betrekking tot het financieel rapport zoals het gebruikte schema, concepten, feiten en dimensies. Er wordt daarnaast ook een link gelegd naar de neerlegging van een financieel rapport en de verschillende validatiestappen dit doorloopt. Ten slotte kan een financieel rapport ook gelinkt zijn aan een dossier. Dit applicatieprofiel voor 'financiële data' kan dienen als documentatie voor analisten en ontwikkelaars.</p>
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
