{% extends "voc2.j2" %}

{% block summary %}
<p>
Het vocabularium Financiële Data definieert de klassen en eigenschappen die worden gebruikt in het bijhorende applicatieprofiel om financiële rapporten te beschrijven.
</p>
{% endblock %}
