{% extends "ap2.j2" %}

{% block summary %}
<p>Dit applicatieprofiel werd ontwikkeld om de verschillende datastromen met betrekking tot financiële data semantisch te modelleren en de structuur van dergelijke data te standaardiseren.</p>
Heel wat organisaties moeten bij verschillende (publieke) organisaties hun financiële rapporten (jaarlijks) indienen ter controle of ter ondersteuning van een dossier voor o.a. subsidies. </p>
<p>Volgende informatie wordt gecapteerd met betrekking tot het financieel rapport: de financiële feiten die erin worden vermeld, het financieel concept achter het feit (bvb. activa, omzet, kosten, doorgaans gebaseerd op een opgelegd schema), de context waarin het feit bekeken moet worden (bvb. de periode waarop het feit betrekking heeft), evt. de dimensies die van toepassing zijn (bvb. tijd, regio, product). </p>
<p>Het model voor het financieel rapport is gebaseerd op een gekende norm in dit domein nl. <a href="https://www.xbrl.org/Specification/XBRL-2.1/REC-2003-12-31/XBRL-2.1-REC-2003-12-31%2bcorrected-errata-2013-02-20.html">XBRL</a> en een deelnorm daarvan nl. <a href="https://www.xbrl.org/specification/dimensions/rec-2012-01-25/dimensions-rec-2006-09-18%2bcorrected-errata-2012-01-25-clean.html">XBRL-Dimensies.</a> </p>
<p>Wat de datastromen betreft wordt een link gelegd naar de neerlegging van een financieel rapport en naar de verschillende validatiestappen die het doorloopt bvb. voor goedkeuring van een subsidie. Een financieel rapport kan ook gelinkt worden aan een dossier. </p>
<p>Een meer formele beschrijving van de termen die het applicatieprofiel gebruikt is te vinden in het <a href="https://data.vlaanderen.be/ns/financiele-data">vocabularium OSLO – Financiële data</a>. </p>
{% endblock %}
