{% extends "ap2.j2" %}

{% block summary %}
<p>Dit document beschrijft het Financiële Data vocabularium. Een vocabularium is een verzameling van herbruikbare termen, namelijk klassen en eigenschappen, waarvan hun betekenis is vastgelegd door middel van een label en definitie. Voor termen gedefinieerd in dit domein zijn er nog bijkomende formele afspraken beschikbaar. Voor externe termen worden de formele afspraken overgenomen van de externe bron.</p>
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
